{% include 'head.html' %}
<DIV style="font-weight: bold; padding: 10px;">{{ title }}</DIV>
<UL>
  {% for photo in photos %}
  <LI>
    <A HREF="{{photo.name}}.html">
      <IMG SRC="thumbnails/{{photo.name}}.jpg"
	   loading="lazy"
	   class="galthumb"
	   width="{{photo.xdim}}"
	   height="{{photo.ydim}}" />
    </A>
  </LI>
  {% endfor %}
  <LI></LI>
</UL>
{% include 'foot.html' %}
