{% include 'head.html' %}
<DIV style="font-weight: bold; padding: 10px;">{{ title }}</DIV>
<BR/>
<UL>
  {% for photo in photos %}
  <LI>
    <A HREF="large/{{photo.name}}.jpg">
      <IMG SRC="thumbnails/{{photo.name}}.jpg" loading="lazy" class="galthumb" width="{{photo.xdim}}" height="{{photo.ydim}}" />
    </A>
  </LI>
  {% endfor %}
  <LI></LI>
</UL>
{% include 'foot.html' %}
