{% include 'head.html' %}
<BODY>
<DIV class="row">
  <DIV class="photostream">
    {% include 'gallery_content_template.html.tmpl' %}
  </DIV>
  <DIV class="column">
    <DIV class="padded">
      <SPAN class=header>Photos.</SPAN><BR/>
      {% for gallery in galleries %}
      <A HREF="/{{ gallery.dir }}/">{{ gallery.name }}</A><BR/>
      {% endfor %}
    </DIV>
    
    <DIV style="background-color:#eee; text-align:left;" class="padded">
      <SPAN class=header>Keepsakes.</SPAN><BR/>
      <A HREF="/static/ethan_santa_letter.html">ethan's santa letter</A><br/>
      <A HREF="/static/emma_santa_letter.html">emma's santa letter</A><br/>
      <A HREF="/static/to_my_unborn_child.html">to my unborn child</A><br/>
      <A HREF="/static/tetris01.pdf">*the* tetris strategy guide</A><br/>
      <A HREF="/static/grandan_tapes/index.html">The Grandan Tapes</A><br/>
      <A HREF="/static/geekbeer/index.html">Geekbeer</A><br/>
      <A HREF="">Mr. Mead</A>
      <A HREF="/static/beerflavors/index.html"></A>
    </DIV>
  
    <DIV class="padded hide-mobile">
      <SPAN class=header>Books.</SPAN><BR/>
      PDF book links. There are VERY LARGE, don't download them on a phone.<br/>
      <A HREF="/static/pdfs/2020_book.pdf">2020 book PDF version</A><BR/>
      <A HREF="/static/pdfs/2019_book.pdf">2019 book PDF version</A><BR/>
      <A HREF="/static/pdfs/2018_book.pdf">2018 book PDF version</A><BR/>
      <A HREF="/static/pdfs/2017_book.pdf">2017 book PDF version</A><BR/>
      <A HREF="/static/pdfs/2016_book.pdf">2016 book PDF version</A><BR/>
      <A HREF="/static/pdfs/2015_book.pdf">2015 book PDF version</A><BR/>
      <A HREF="/static/pdfs/2014_book.pdf">2014 book PDF version</A><BR/>
    </DIV>
    
    <DIV class="padded hide-mobile">
      <SPAN class=header>Other.</SPAN><BR/>
      <A HREF="/static/babyshower.zip">baby shower photos, full size.</A>
    </DIV>
  </DIV>
</DIV>
{% include 'foot.html' %}
