{% include 'head.html' %}
<BODY class="swipegallery">
<div class="slider">
  <div class="slides">
    {% for group in groups %}
    {% for photo in group.photos %}
    <div class="swipeable" >
      <A name="#l{{photo.name}}" id="l{{photo.name}}">
	<IMG SRC="/{{photo.galname}}/large/{{photo.name}}.jpg"
	     loading="lazy" />
      </A>
    </div>
    {% endfor %}
    {% endfor %}
  </div>
</div>
<DIV class="gal-nav gal-home">
  <A HREF="index.html">Back to gallery</A>
</DIV>

<SCRIPT>
  // define an observer instance
  var observer = new IntersectionObserver(onIntersection, {
      root: null,   // default is the viewport
      threshold: .8 // percentage of target's visible area. Triggers "onIntersection"
  });
  // callback is called on intersection change
  function onIntersection(entries, opts) {
      entries.forEach(entry => {
	  if (entry.target.classList.contains('executed')) {
              // https://stackoverflow.com/questions/53214116/intersectionobserver-callback-firing-immediately-on-page-load
	      console.log("updating hash " + entry.target.id);
              location.hash = entry.target.id;
          }
	  entry.target.classList.add('executed');
      });
  }
  // Chrome sometimes seems to skip the whole "obey the anchor link" thing, so force it.
  setTimeout(function() {
      console.log(location.hash);
      document
	  .querySelector(location.hash)
	  .scrollIntoView({ behavior: "smooth", block: "start" });
  }, 300);
  // Don't add observers right away. This avoids racing actual page loads and updating the hash while building the page.
  setTimeout(function() {
      document.querySelectorAll('.swipeable').forEach(elem => {
	  observer.observe( elem )
      });
  }, 2000);  
</SCRIPT>

{% include 'foot.html' %}
